* {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	outline: none;
	font-size: 16px;
}

body {
	padding-bottom: 50px;
}

h1 {
	text-align: center;
	margin: 30px;
	font-size: 25px;
}

h2 {
	font-size: 20px;
	text-align: center;
	margin: 30px;
}

a {
	text-decoration: none;
	font-size: inherit;
	color: inherit;
	border-bottom: 1px solid #ababab;
}

button:active {
	font-size: 17px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.container {
	margin: auto;
	width: 80%;
}

form {
	display: grid;
	width: 30%;
	margin: auto;
}

input[type="text"] {
	height: 40px;
}

input[type="submit"] {
	border-radius: 30px;
	width: min-content;
	margin: auto;
	padding: 7px 15px;
	background-color: #dedede;
	cursor: pointer;
	margin-top: 5px;
}

input[type="submit"]:hover,
button:hover {
	box-shadow: 0 0 3pt 2pt #ed4e42;
	outline-width: 0px;
}

input[type="submit"]:disabled,
reply-button:disabled {
	cursor: not-allowed;
	box-shadow: none;
	outline-width: 0px;
}

textarea {
	resize: vertical;
}

input,
textarea {
	transition: 180ms box-shadow ease-in-out;
	-webkit-transition: 180ms;
	font-size: 16px;
	padding: 0.25em 0.5em;
	margin: 5px;
	border-radius: 10px;
	border: 1px solid #dddddd;
}

input:focus,
textarea:focus,
input:hover,
textarea:hover {
	box-shadow: 0 0 3pt 2pt #ed4e42;
	outline-width: 0px;
}

.error {
	color: #ed4e42;
	text-align: center;
	font-weight: 300;
}

ul {
	list-style-type: none;
}

li {
	margin: 10px 0px 15px 10px;
	box-shadow: 0 0 5px #ed4e42;
	border: 1px solid #ed4e42;
	padding: 10px 0px 10px 10px;
}

.comment-content {
	padding: 10px;
	line-break: auto;
	white-space: pre-line;
}

.reply-button {
	border-radius: 20px;
	width: min-content;
	margin: auto;
	padding: 7px 15px;
	background-color: #dedede;
	cursor: pointer;
	/* margin-top: 5px; */
	border: 1px solid #dedede;
}

.child {
	margin-left: 25px;
	border-right: none + ì;
}

#submitMessage {
	position: fixed;
	z-index: 101;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	line-height: 2.5;
	overflow: hidden;
	-webkit-box-shadow: 0 0 5px black;
	-moz-box-shadow: 0 0 5px black;
	box-shadow: 0 0 5px black;

	@-webkit-keyframes slideDown {
		0%,
		100% {
			-webkit-transform: translateY(-50px);
		}
		10%,
		90% {
			-webkit-transform: translateY(0px);
		}
	}
	@-moz-keyframes slideDown {
		0%,
		100% {
			-moz-transform: translateY(-50px);
		}
		10%,
		90% {
			-moz-transform: translateY(0px);
		}
	}
}

#submitMessage.error {
	background-color: #f55742;
}
#submitMessage.success {
	background-color: #75fa5a;
}

.lds-roller {
	display: block;
	position: relative;
	width: 80px;
	height: 80px;
	margin: auto;
	margin-bottom: 30px;
}
.lds-roller div {
	margin: auto;
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
}
.lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #03befc;
	margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
}
.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
}
.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
}
.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
}
.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
}
.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
}
.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
}
.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
}
@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.commentImage {
	display: inline;
	margin-right: 10px;
}

.commentImage > img {
	width: 40px;
	height: 40px;
}

.emoji {
	margin: 10px;
	font-size: 25px;
	display: flex;
	align-items: center;
}

.reaction-div {
	margin-top: 5px;
	display: inline-flex;
}

.emoji-container {
	position: relative;
	user-select: none;
}

.emoji-counter-div {
	position: absolute;
	top: -2px;
	right: 3px;
	z-index: -5;
}

.emoji-counter {
	font-weight: bold;
	padding: 2px 5px;
	border-radius: 30%;
	background-color: #f55742;
	color: #fefefe;
}

.emoji {
	cursor: pointer;
}

.emoji:hover {
	opacity: 85%;
}
